
.cat-photo {
  margin: 10px;
  max-width: 500px;
}

.toast-photo {
  margin: 10px;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

/* .bread-title {
  position: relative;
  left: 300px;
  margin: -8px;
  width: 600px;
  z-index: 0;
  display: block;
  position: relative;
} */

h1 {
  /* background-image: url('../img/bread_title.png'); */
  background: transparent url('../img/bread_title.png') center top/70% no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: rgb(70, 36, 30);
  padding: 10px; 
  margin: 0; 
  font-size: 35px;
}

h2 {
  background: transparent url('../img/bread_title.png')  50% no-repeat;
  color: rgb(70, 36, 30);
}

h3 {
  background: transparent url('../img/bread_title.png')  50% no-repeat;
  color: rgb(70, 36, 30);

}